@charset 'UTF-8';


@font-face { 
			font-family: Supermarket; 
			src: url(supermarket.ttf); 
}
 
body {
	background-image: url('../img/debut_dark.png');
	background-color:#E1E1E1;
	font-family: Supermarket;
	padding: 0px;
	margin: 0px;
}

.alert {
	font-size: 18px;
}

.form-submit{
	text-align:center;
	margin-top:10px;
}

.form-submit button{
	font-size:18px;
	padding:6px 16px;
}

#wrapper{
	margin: 0 auto;
	width: 1200px;
}