@charset 'UTF-8';


@font-face { 
			font-family: Supermarket; 
			src: url(supermarket.ttf); 
}
 
body {
	background-image: url('../img/gray_jean.png');
	font-family: Supermarket;
	padding: 0px;
	margin: 0px;
}

.alert {
	font-size: 18px;
}

.form-submit{
	text-align:center;
	margin-top:10px;
}

.form-submit button{
	font-size:18px;
	padding:6px 16px;
}

#wrapper{
	margin: 0 auto;
	width: 1200px;
	padding-top: 20px;
}

#header {
	margin: 0 auto 20px auto;
	width: auto;
	background-color: rgba(255,255,255,0.5);
	padding: 5px 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #999999;
	height: 92px;
}

#login_stat {
	margin-top: 15px;
	font-size: 24px;
	line-height: 34px;
	text-align: right;
}
