@charset 'UTF-8';

@media (min-width: 980px) {
	body {
			padding-top: 35px;
	}
}

.alert {
	font-size: 18px;
}

.form-submit{
	text-align:center;
	margin-top:10px;
}
.form-submit button{
	font-size:18px;
	padding:6px 16px;
}