/* CSS : templat.css */

@font-face { 
	font-family: Supermarket; 
	src: url(css/supermarket.ttf); 
} 
body,html{
	background-color:#E1E1E1;
}
.container-fluid{
	margin-top:20px;
}
#header{
	width:100%;
	height:110px;
}
#logo{
	float:left;
}
#rightpanel{
	background-color:rgba(255,255,255,0.9);	
	border-radius:4px;
	padding:10px 20px;	
	box-shadow:0px -1px 3px #CCC;		
}
#login_stat{
	font-family: Supermarket;
	float:right;
	margin-top:25px;
	margin-right:10px;
	text-align:right;
	font-size:16px;
	font-weight:bold;
	color:#545454;
}
#login_stat button{
	margin-top:6px;
}